* {
  margin: 0;
  padding: 0;
}

.content {
  margin-block: auto;
  max-width: 1000px;
  padding: 10px 0;
  background-color: var(--content_background);
  border-radius: 15px;
  word-wrap: break-word;
  white-space: wrap;
  line-height: 2;

  a {
    padding: 0;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;

    &:before {
      padding-right: 3px;
      font-size: 16px;
      font-family: "Material Icons";
      vertical-align: middle;
    }

    &:hover {
      opacity: 75%;
    }
  }
.category_list{
  font-weight: 700;
  font-size: 20px;
  color: var(--primary);
  text-align: center;
}
  a.weblink {
    &:before {
      content: "travel_explore";
    }
  }

  a.videolink {
    &:before {
      content: "videocam";
    }
  }



  summary {
    border: solid 2px var(--primary_transparent);
    cursor: pointer;
    margin-block: 15px;
    position: relative;
    z-index: 0;
    padding: 10px 25px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--primary);
    text-transform: uppercase;
    word-wrap: break-word;
    background-color: var(--summary_background);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: var(--primary);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  audio,
  video,
  iframe {
    max-width: 1000px;
    width: 100%;
    height: calc(100vw * 9 / 16);
    max-height: 500px;
    border-radius: 15px;
    border: none;
  }

  video {
    height: fit-content !important;
  }


  code {
    display: block;
    font-size: 14px;
    max-width: 1000px;
    padding-inline-start: 20px;
    padding-inline-end: 60px;
    padding-block: 15px;
    line-height: 1.25;
    background-color: #303030;
    border-radius: 15px;
    font-family: "JetBrains Mono", monospace;
    color: #fefefe;
    position: relative;

    &:hover {
      opacity: 60%;
      cursor: pointer;
    }

    &:active {
      opacity: 100%;
      filter: brightness(80%);
    }

    &::after {
      content: "content_copy";
      font-family: "Material Icons";
      font-size: 28px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--primary);
      opacity: 50%;
    }
  }

  h2 {
    margin-block: 10px;
    position: relative;
    z-index: 0;
    padding: 3px 25px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: var(--primary);
    text-transform: uppercase;
    word-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: var(--primary);
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }



  mark {
    background-color: var(--mark_background);
    display: inline;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-family: "JetBrains Mono", monospace, Arial, Helvetica, sans-serif;
    line-height: 24px;
    color: var(--text);
    text-decoration: none;
    border: solid 1px var(--primary);

    &:before {
      font-family: "Material Icons";
      font-size: 16px;
      margin-inline: 3px;
      vertical-align: middle;
    }

    &:hover {
      opacity: 60%;
    }

    &:active {
      background-color: var(--primary_transparent);
      opacity: 100%;
    }
  }

  mark.copy {
    &:before {
      color: var(--primary);
      content: "content_copy";
    }
  }

  mark.key {
    background-color: var(--grayscale_background);
    border: solid 2px var(--border);

    &:before {
      color: var(--text);
      opacity: 50%;
      content: "keyboard";
    }
  }

  mark.word {
    background-color: var(--grayscale_background);
    border: solid 2px var(--border);

    &:before {
      color: var(--text);
      opacity: 50%;
      content: "dictionary";
    }
  }

  mark.path {
    background-color: var(--grayscale_background);
    border: solid 2px var(--border);

    &:before {
      opacity: 50%;
      content: "folder_data";
      color: var(--text);
    }
  }

  mark.file {

    &:before {
      content: "file_present";
      color: var(--primary);
    }
  }

  mark.app {
    background-color: var(--grayscale_background);
    border: solid 2px var(--border);

    &:before {
      content: "deployed_code";
      opacity: 50%;
      color: var(--text);
    }
  }

  mark.plugin {
    background-color: var(--primary_transparent);

    &:before {
      content: "extension";
      color: var(--primary);
    }
  }

  mark.ui {

    &:before {
      content: "touch_app";
      color: var(--primary);
    }
  }

  mark.warn {
    &:before {
      content: "warning";
      color: var(--primary);
    }
  }

  button.copy_button {
    background-color: var(--primary_transparent);
    padding: 5px;
    font-size: 14px;
    border: solid 2px var(--primary_transparent);
    border-radius: 15px;
    color: var(--text);
    display: block;
    margin-inline-start: auto;
    margin-inline-end: 15px;
    margin-block-end: -5px;
    padding-inline-start: 5px;
    padding-inline-end: 15px;
    padding-block-start: 5px;

    &:before {
      font-family: "Material Icons";
      font-size: 16px;
      margin-inline: 5px;
      vertical-align: middle;
      content: "share";
      color: var(--primary);
    }

    &:hover {
      opacity: 60%;
      cursor: pointer;
    }

    &:active {
      background-color: var(--primary_transparent);
      opacity: 100%;
    }
  }

  p {
    margin: 20px 25px;
    font-size: 16px;
    color: var(--text);
  }

  details {
    margin-inline: auto;
    cursor: default;
  }

  ul {
    margin-inline: 15px;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    background-color: var(--li_background);
    border-radius: 15px;
    min-width: auto;
    max-width: fit-content;
    margin-block: 10px;
    border: solid 2px var(--border);
    padding-inline: 10px;
    padding-block-start: 10px;
  }

  img {
    margin-inline: auto;
    cursor: zoom-in;
    display: block;
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;
    max-height: 600px;
    border-radius: 15px;
  }

  figcaption {
    padding-inline: 25px;
    padding-block: 10px;
    font-size: 14px;
    color: var(--text_transparent);
    text-align: center;
    text-transform: none;
    display: block;
    width: 100%;
    line-height: 1.25;
    margin-inline: auto;
    box-sizing: border-box;
  }

  li {
    line-height: 2;
    background-color: var(--li_background);
    border: solid 2px var(--border);
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 10px;
    margin-block: 10px;

    .warning {
      margin-block: 5px;
      border-radius: 10px;
      padding-inline-start: 15px;
      padding-block: 10px;
    }

    code {
      margin-block: 10px;
      border-radius: 10px;
    }

    ul {
      margin-inline: 0px;
    }

    figure {
      margin-top: 20px;
    }

    list-style-type: none;

    &::marker {
      color: var(--primary);
    }
  }

  blockquote {
    margin: 20px;
    background-color: var(--table_background);
    border-radius: 15px;
    padding: 20px 20px 15px;
    position: relative;

    footer {
      text-align: right;
      padding-block-start: 10px;
      padding-block-end: 0;
      padding-inline: 0;
    }

    a {
      color: var(--text);
    }
  }

  table {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--table_background);
    border-radius: 15px;
    text-align: center;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 5px 10px;
    border: 1px solid var(--border);
  }

  @media (max-width: 600px) {
    table {
      font-size: 12px;
    }
  }

  @media (max-width: 350px) {
    table {
      word-wrap: break-word;
      word-break: break-all;

      td,
      th {
        padding: 5px 3px;
      }
    }
  }

  @media (min-width: 600px) {
    table {
      font-size: 16px;
    }
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }

  tr:first-child th {
    border-top: none;
  }

  tr:last-child td,
  tr:last-child th {
    border-bottom: none;
  }
}

.warning {
  font-weight: 600;
  background-color: var(--warning_background);
  border-radius: 15px;
  border: solid 2px var(--warning_border);
  line-height: 1.75;
  padding-inline-start: 25px;
  padding-inline-end: 80px;
  padding-block: 15px;
  margin-block: 20px;
  position: relative;

  ul {
    margin-inline: 0;
  }

  li {
    background-color: #00000000;
    padding: 0 0;
    border: none;
  }

  &::before {
    content: "warning";
    font-family: "Material Icons";
    font-size: 3em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-35%, -50%);
    color: var(--text);
    opacity: 25%;
  }

  a {
    text-decoration: underline;
    color: var(--text);
  }
}