$light: (primary_lighten: #9b94d6,
  primary: #726BB3,
  primary_darken: #443f70,
  primary_selected: #726BB330,
  primary_transparent: #726BB320,
  ripple: #726BB390,
  text:#101010,
  text_links: #5d532b,
  text_transparent: #30303080,
  border: #20202020,
  header_shadow:#00000040,
  shadow: #00000010,
  grayscale_background: #c5c4c760,
  summary_background: #726BB310,
  header_background: #fdfcffc0,
  main_background: #f7f6f9,
  content_background: #fdfcff,
  li_background:#f4f4f480,
  table_background: #f1f1f1,
  warning_border: #ff513a80,
  warning_background: #ff513a30,
  mark_background: #726BB330,
);

$dark: (primary_lighten: #b8b8ff,
  primary:#9a99ff,
  primary_darken: #5c5b99,
  primary_selected: #9a99ff30,
  primary_notselected: #404040,
  primary_transparent: #9a99ff20,
  ripple: #9a99ff90,
  text:#fefefe,
  text_links: #8786a2,
  text_transparent: #fefefe50,
  border: #80808030,
  header_shadow: #80808040,
  shadow: #80808010,
  grayscale_background: #44444460,
  summary_background: #9a99ff10,
  header_background: #151515c0,
  main_background: #000000,
  content_background: #171717,
  li_background:#21212180,
  table_background: #252525,
  warning_border: #ff513a80,
  warning_background: #ff513a30,
  mark_background: #9a99ff30,
);

.light {

  @each $key,
  $value in $light {
    --#{$key}: #{$value};
  }
}

.dark {

  @each $key,
  $value in $dark {
    --#{$key}: #{$value};
  }
}