@font-face {
  font-family: "Material Icons";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MaterialSymbolsRounded.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Schuss Sans";
  src: url("../fonts/SchussSansPCG-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono.woff2") format("woff2");
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header_background);
  color: var(--primary);
  -webkit-backdrop-filter: blur(25px) saturate(80%);
          backdrop-filter: blur(25px) saturate(80%);
  -webkit-filter: drop-shadow(0 0 15px var(--header_shadow));
          filter: drop-shadow(0 0 15px var(--header_shadow));
  height: 65px;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}
header span.material-icons {
  font-size: 24px;
  color: var(--primary);
}
@media screen and (min-width: 1200px) {
  header {
    max-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
header ul {
  height: 100%;
  list-style-type: none;
}
header button {
  cursor: pointer;
  background: none;
  border: none;
}
header span:active {
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.logo {
  font-family: "Schuss Sans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
}

.content {
  margin-block: auto;
  max-width: 1000px;
  padding: 10px 0;
  background-color: var(--content_background);
  border-radius: 15px;
  word-wrap: break-word;
  white-space: wrap;
  line-height: 2;
}
.content a {
  padding: 0;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
}
.content a:before {
  padding-right: 3px;
  font-size: 16px;
  font-family: "Material Icons";
  vertical-align: middle;
}
.content a:hover {
  opacity: 75%;
}
.content .category_list {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary);
  text-align: center;
}
.content a.weblink:before {
  content: "travel_explore";
}
.content a.videolink:before {
  content: "videocam";
}
.content summary {
  border: solid 2px var(--primary_transparent);
  cursor: pointer;
  margin-block: 15px;
  position: relative;
  z-index: 0;
  padding: 10px 25px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--primary);
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: var(--summary_background);
}
.content summary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: var(--primary);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content audio,
.content video,
.content iframe {
  max-width: 1000px;
  width: 100%;
  height: 56.25vw;
  max-height: 500px;
  border-radius: 15px;
  border: none;
}
.content video {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
.content code {
  display: block;
  font-size: 14px;
  max-width: 1000px;
  -webkit-padding-start: 20px;
     -moz-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 60px;
     -moz-padding-end: 60px;
          padding-inline-end: 60px;
  padding-block: 15px;
  line-height: 1.25;
  background-color: #303030;
  border-radius: 15px;
  font-family: "JetBrains Mono", monospace;
  color: #fefefe;
  position: relative;
}
.content code:hover {
  opacity: 60%;
  cursor: pointer;
}
.content code:active {
  opacity: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.content code::after {
  content: "content_copy";
  font-family: "Material Icons";
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--primary);
  opacity: 50%;
}
.content h2 {
  margin-block: 10px;
  position: relative;
  z-index: 0;
  padding: 3px 25px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: var(--primary);
  text-transform: uppercase;
  word-wrap: break-word;
}
.content h2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: var(--primary);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.content mark {
  background-color: var(--mark_background);
  display: inline;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace, Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: var(--text);
  text-decoration: none;
  border: solid 1px var(--primary);
}
.content mark:before {
  font-family: "Material Icons";
  font-size: 16px;
  margin-inline: 3px;
  vertical-align: middle;
}
.content mark:hover {
  opacity: 60%;
}
.content mark:active {
  background-color: var(--primary_transparent);
  opacity: 100%;
}
.content mark.copy:before {
  color: var(--primary);
  content: "content_copy";
}
.content mark.key {
  background-color: var(--grayscale_background);
  border: solid 2px var(--border);
}
.content mark.key:before {
  color: var(--text);
  opacity: 50%;
  content: "keyboard";
}
.content mark.word {
  background-color: var(--grayscale_background);
  border: solid 2px var(--border);
}
.content mark.word:before {
  color: var(--text);
  opacity: 50%;
  content: "dictionary";
}
.content mark.path {
  background-color: var(--grayscale_background);
  border: solid 2px var(--border);
}
.content mark.path:before {
  opacity: 50%;
  content: "folder_data";
  color: var(--text);
}
.content mark.file:before {
  content: "file_present";
  color: var(--primary);
}
.content mark.app {
  background-color: var(--grayscale_background);
  border: solid 2px var(--border);
}
.content mark.app:before {
  content: "deployed_code";
  opacity: 50%;
  color: var(--text);
}
.content mark.plugin {
  background-color: var(--primary_transparent);
}
.content mark.plugin:before {
  content: "extension";
  color: var(--primary);
}
.content mark.ui:before {
  content: "touch_app";
  color: var(--primary);
}
.content mark.warn:before {
  content: "warning";
  color: var(--primary);
}
.content button.copy_button {
  background-color: var(--primary_transparent);
  padding: 5px;
  font-size: 14px;
  border: solid 2px var(--primary_transparent);
  border-radius: 15px;
  color: var(--text);
  display: block;
  -webkit-margin-start: auto;
     -moz-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 15px;
     -moz-margin-end: 15px;
          margin-inline-end: 15px;
  -webkit-margin-after: -5px;
          margin-block-end: -5px;
  -webkit-padding-start: 5px;
     -moz-padding-start: 5px;
          padding-inline-start: 5px;
  -webkit-padding-end: 15px;
     -moz-padding-end: 15px;
          padding-inline-end: 15px;
  -webkit-padding-before: 5px;
          padding-block-start: 5px;
}
.content button.copy_button:before {
  font-family: "Material Icons";
  font-size: 16px;
  margin-inline: 5px;
  vertical-align: middle;
  content: "share";
  color: var(--primary);
}
.content button.copy_button:hover {
  opacity: 60%;
  cursor: pointer;
}
.content button.copy_button:active {
  background-color: var(--primary_transparent);
  opacity: 100%;
}
.content p {
  margin: 20px 25px;
  font-size: 16px;
  color: var(--text);
}
.content details {
  margin-inline: auto;
  cursor: default;
}
.content ul {
  margin-inline: 15px;
}
.content figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  background-color: var(--li_background);
  border-radius: 15px;
  min-width: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-block: 10px;
  margin-inline: auto;
  border: solid 2px var(--border);
  padding-inline: 10px;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
}
.content img {
  margin-inline: auto;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: block;
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 15px;
}
.content figcaption {
  padding-inline: 25px;
  padding-block: 10px;
  font-size: 14px;
  color: var(--text_transparent);
  text-align: center;
  text-transform: none;
  display: block;
  width: 100%;
  line-height: 1.25;
  margin-inline: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.content li {
  line-height: 2;
  background-color: var(--li_background);
  border: solid 2px var(--border);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
  margin-block: 10px;
  list-style-type: none;
}
.content li .warning {
  margin-block: 5px;
  border-radius: 10px;
  -webkit-padding-start: 15px;
     -moz-padding-start: 15px;
          padding-inline-start: 15px;
  padding-block: 10px;
}
.content li code {
  margin-block: 10px;
  border-radius: 10px;
}
.content li ul {
  margin-inline: 0px;
}
.content li figure {
  margin-top: 20px;
}
.content li::marker {
  color: var(--primary);
}
.content blockquote {
  margin: 20px;
  background-color: var(--table_background);
  border-radius: 15px;
  padding: 20px 20px 15px;
  position: relative;
}
.content blockquote footer {
  text-align: right;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  padding-inline: 0;
}
.content blockquote a {
  color: var(--text);
}
.content table {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--table_background);
  border-radius: 15px;
  text-align: center;
  border-collapse: collapse;
}
.content td,
.content th {
  padding: 5px 10px;
  border: 1px solid var(--border);
}
@media (max-width: 600px) {
  .content table {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .content table {
    word-wrap: break-word;
    word-break: break-all;
  }
  .content table td,
  .content table th {
    padding: 5px 3px;
  }
}
@media (min-width: 600px) {
  .content table {
    font-size: 16px;
  }
}
.content td:first-child,
.content th:first-child {
  border-left: none;
}
.content td:last-child,
.content th:last-child {
  border-right: none;
}
.content tr:first-child th {
  border-top: none;
}
.content tr:last-child td,
.content tr:last-child th {
  border-bottom: none;
}

.warning {
  font-weight: 600;
  background-color: var(--warning_background);
  border-radius: 15px;
  border: solid 2px var(--warning_border);
  line-height: 1.75;
  -webkit-padding-start: 25px;
     -moz-padding-start: 25px;
          padding-inline-start: 25px;
  -webkit-padding-end: 80px;
     -moz-padding-end: 80px;
          padding-inline-end: 80px;
  padding-block: 15px;
  margin-block: 20px;
  position: relative;
}
.warning ul {
  margin-inline: 0;
}
.warning li {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0;
  border: none;
}
.warning::before {
  content: "warning";
  font-family: "Material Icons";
  font-size: 3em;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
     -moz-transform: translate(-35%, -50%);
      -ms-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  color: var(--text);
  opacity: 25%;
}
.warning a {
  text-decoration: underline;
  color: var(--text);
}

.links_body {
  max-width: 1200px;
}
.links_body section {
  text-align: left;
}

.links {
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 15px;
}
@media screen and (max-width: 1000px) {
  .links {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .links {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .links {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media screen and (max-width: 350px) {
  .links {
    grid-template-columns: repeat(1, 1fr);
  }
}
.links a {
  border: solid 2px var(--border);
  -webkit-box-shadow: 0 5px 5px var(--shadow);
          box-shadow: 0 5px 5px var(--shadow);
  min-width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--content_background);
  border-radius: 15px;
  padding-block: 20px;
  padding-inline: 15px;
  color: var(--text);
  text-decoration: none;
}
.links a:hover {
  background-color: var(--primary_selected);
  color: var(--content_background);
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
}
.links a:active {
  background-color: var(--ripple);
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.links h2 {
  color: var(--primary);
  font-family: "Schuss Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-block: 10px;
}
.links div {
  margin: auto;
  display: flex-inline;
}
.links p {
  color: var(--text_links);
  font-size: 14px;
}
.links .material-icons {
  font-family: "Material Icons";
  font-size: 36px;
  color: var(--primary);
}

.container_sidemenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  position: fixed;
  top: 80px;
  z-index: 1500;
  visibility: hidden;
  overflow-x: visible;
}
@media screen and (min-width: 1000px) {
  .container_sidemenu {
    max-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.container_sidemenu .material-icons {
  font-size: 20px;
  -webkit-padding-end: 8px;
     -moz-padding-end: 8px;
          padding-inline-end: 8px;
  color: var(--text);
}

.left_sidemenu {
  border: solid 1px var(--border);
  background-color: var(--header_background);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(25px) saturate(50%);
          backdrop-filter: blur(25px) saturate(50%);
  -webkit-filter: drop-shadow(0px 10px 25px var(--header_shadow));
          filter: drop-shadow(0px 10px 25px var(--header_shadow));
  max-width: 800px;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}
.left_sidemenu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: var(--text);
  text-align: left;
  padding-inline: 15px;
  padding-block: 10px;
  background: none;
}
.left_sidemenu h2 {
  color: var(--text);
  font-size: 12px;
  padding: 10px 15px;
  margin: 0;
  text-align: center;
  text-transform: none;
  font-weight: bold;
}
.left_sidemenu li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.left_sidemenu li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.left_sidemenu li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.left_sidemenu li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
.left_sidemenu p {
  margin: 0;
}
.left_sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.left_sidemenu ul li a {
  height: 100%;
  text-decoration: none;
}
.left_sidemenu .selected {
  background: var(--primary_selected);
}
.left_sidemenu button {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
  text-align: left;
  padding-inline: 15px;
  padding-block: 10px;
  width: 100%;
  cursor: pointer;
  background: none;
}

.right_sidemenu {
  border: solid 1px var(--border);
  background-color: var(--header_background);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(25px) saturate(50%);
          backdrop-filter: blur(25px) saturate(50%);
  -webkit-filter: drop-shadow(0px 10px 25px var(--header_shadow));
          filter: drop-shadow(0px 10px 25px var(--header_shadow));
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}
.right_sidemenu button {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
  text-align: center;
  padding-inline: 15px;
  padding-block: 10px;
  width: 100%;
  background: none;
}
.right_sidemenu .material-icons {
  -webkit-padding-end: 0px;
     -moz-padding-end: 0px;
          padding-inline-end: 0px;
  -webkit-padding-start: 15px;
     -moz-padding-start: 15px;
          padding-inline-start: 15px;
}
.right_sidemenu li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.right_sidemenu li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.right_sidemenu li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.right_sidemenu li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
.right_sidemenu p {
  margin: 0;
}
.right_sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.right_sidemenu .selected {
  background: var(--primary_selected);
}

@media screen and (width < 1200px) {
  .left_sidemenu {
    -webkit-margin-start: 10px;
       -moz-margin-start: 10px;
            margin-inline-start: 10px;
  }
  .right_sidemenu {
    -webkit-margin-end: 10px;
       -moz-margin-end: 10px;
            margin-inline-end: 10px;
  }
}
.light {
  --primary_lighten: #9b94d6;
  --primary: #726BB3;
  --primary_darken: #443f70;
  --primary_selected: rgba(114, 107, 179, 0.1882352941);
  --primary_transparent: rgba(114, 107, 179, 0.1254901961);
  --ripple: rgba(114, 107, 179, 0.5647058824);
  --text: #101010;
  --text_links: #5d532b;
  --text_transparent: rgba(48, 48, 48, 0.5019607843);
  --border: rgba(32, 32, 32, 0.1254901961);
  --header_shadow: rgba(0, 0, 0, 0.2509803922);
  --shadow: rgba(0, 0, 0, 0.062745098);
  --grayscale_background: rgba(197, 196, 199, 0.3764705882);
  --summary_background: rgba(114, 107, 179, 0.062745098);
  --header_background: rgba(253, 252, 255, 0.7529411765);
  --main_background: #f7f6f9;
  --content_background: #fdfcff;
  --li_background: rgba(244, 244, 244, 0.5019607843);
  --table_background: #f1f1f1;
  --warning_border: rgba(255, 81, 58, 0.5019607843);
  --warning_background: rgba(255, 81, 58, 0.1882352941);
  --mark_background: rgba(114, 107, 179, 0.1882352941);
}

.dark {
  --primary_lighten: #b8b8ff;
  --primary: #9a99ff;
  --primary_darken: #5c5b99;
  --primary_selected: rgba(154, 153, 255, 0.1882352941);
  --primary_notselected: #404040;
  --primary_transparent: rgba(154, 153, 255, 0.1254901961);
  --ripple: rgba(154, 153, 255, 0.5647058824);
  --text: #fefefe;
  --text_links: #8786a2;
  --text_transparent: rgba(254, 254, 254, 0.3137254902);
  --border: rgba(128, 128, 128, 0.1882352941);
  --header_shadow: rgba(128, 128, 128, 0.2509803922);
  --shadow: rgba(128, 128, 128, 0.062745098);
  --grayscale_background: rgba(68, 68, 68, 0.3764705882);
  --summary_background: rgba(154, 153, 255, 0.062745098);
  --header_background: rgba(21, 21, 21, 0.7529411765);
  --main_background: #000000;
  --content_background: #171717;
  --li_background: rgba(33, 33, 33, 0.5019607843);
  --table_background: #252525;
  --warning_border: rgba(255, 81, 58, 0.5019607843);
  --warning_background: rgba(255, 81, 58, 0.1882352941);
  --mark_background: rgba(154, 153, 255, 0.1882352941);
}

@-webkit-keyframes ripple-effect {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-moz-keyframes ripple-effect {
  from {
    opacity: 1;
    -moz-transform: scale(0);
         transform: scale(0);
  }
  to {
    opacity: 0;
    -moz-transform: scale(2);
         transform: scale(2);
  }
}

@keyframes ripple-effect {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
            transform: scale(2);
  }
}
html {
  scroll-padding-top: 80px;
}

* {
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -moz-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -moz-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-variant-ligatures: none;
     -moz-font-variant-ligatures: none;
          font-variant-ligatures: none;
}

.disable-animation * {
  -webkit-transition: color 0s, background-color 0s;
  -o-transition: color 0s, background-color 0s;
  -moz-transition: color 0s, background-color 0s;
  transition: color 0s, background-color 0s;
}

body {
  padding-top: 65px;
  background-color: var(--main_background);
  color: var(--text);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 350;
  margin-inline: auto;
  max-width: 1000px;
  overflow-x: hidden;
}

section {
  color: var(--text_transparent);
  font-size: 12px;
  font-weight: 300;
  margin-block: 16px;
  padding-inline: 20px;
  text-align: right;
  text-transform: uppercase;
}

.copied {
  -webkit-filter: drop-shadow(0 20px 20px var(--shadow));
          filter: drop-shadow(0 20px 20px var(--shadow));
  color: var(--text);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(25px) brightness(125%) saturate(50%);
          backdrop-filter: blur(25px) brightness(125%) saturate(50%);
  background-color: var(--header_background);
  max-width: 500px;
  border-radius: 15px;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
  z-index: 1000;
}

.material-icons {
  font-family: "Material Icons";
  color: var(--text);
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

footer {
  color: var(--text_transparent);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: small;
  padding-inline: 50px;
  padding-block: 30px;
  line-height: 1.25;
  text-align: center;
}

.ripple {
  -webkit-animation: ripple-effect 0.5s linear forwards;
     -moz-animation: ripple-effect 0.5s linear forwards;
          animation: ripple-effect 0.5s linear forwards;
  background: var(--ripple);
  border-radius: 50%;
  opacity: 100%;
  position: absolute;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

::-webkit-scrollbar {
  width: 0;
}

#commit_info {
  white-space: pre-line;
}

#menu_toggle {
  height: 0;
  opacity: 0;
  width: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

summary::marker {
  content: "+ ";
  font-family: "JetBrains Mono", monospace;
}

details[open] summary::marker {
  content: "- ";
  font-family: "JetBrains Mono", monospace;
}