@use "fonts";
@use "reset";
@use "header";
@use "content";
@use "links";
@use "sidemenu";
@use "variables";

// * {
//   outline: 1px solid red;
// }

@keyframes ripple-effect {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}

html {
  scroll-padding-top: 80px;
}

// !: сделать более оптимизированные анимации

* {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  font-variant-ligatures: none;
}

.disable-animation * {
  transition: color 0s, background-color 0s;
}

body {
  padding-top: 65px;
  background-color: var(--main_background);
  color: var(--text);
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 350;
  margin-inline: auto;
  max-width: 1000px;
  overflow-x: hidden;
}

section {
  color: var(--text_transparent);
  font-size: 12px;
  font-weight: 300;
  margin-block: 16px;
  padding-inline: 20px;
  text-align: right;
  text-transform: uppercase;
}

.copied {
  filter: drop-shadow(0 20px 20px var(--shadow));
  color: var(--text);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(25px) brightness(125%) saturate(50%);
  background-color: var(--header_background);
  max-width: 500px;
  border-radius: 15px;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
  z-index: 1000;
}

.material-icons {

  font-family: "Material Icons";
  color: var(--text);
  font-variation-settings: "FILL"0, "wght"300, "GRAD"0, "opsz"24;
}

footer {
  color: var(--text_transparent);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: small;
  padding-inline: 50px;
  padding-block: 30px;
  line-height: 1.25;
  text-align: center;
}

.ripple {
  animation: ripple-effect 0.5s linear forwards;
  background: var(--ripple);
  border-radius: 50%;
  opacity: 100%;
  position: absolute;
  transform: scale(0);
}

::-webkit-scrollbar {
  width: 0;
}

#commit_info {
  white-space: pre-line;
  max-width: 200px;
  margin-inline: auto;
}

#menu_toggle {
  height: 0;
  opacity: 0;
  width: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

summary::marker {
  content: "+ ";
  font-family: "JetBrains Mono", monospace;
}

details[open] summary::marker {
  content: "- ";
  font-family: "JetBrains Mono", monospace;
}