/.vscode
/.idea
/.vs
node_modules
package-lock.json
package.json
.prettierrc
yarn.lock
qodana.yaml
TODO.md
eslint.config.js
vite.config.ts
.eslintrc.cjs
.eslintrc
tsconfig.json
tsconfig.node.json
dist
