@use "@/styles/mixins" as *;

.faq {
  &-container {
    margin-inline: auto;
    width: 97.5%;
    max-width: 1000px;

    &-flex {
      display: flex;
      flex-direction: row;
      margin-inline: auto;
      max-width: 1400px;
    }
  }

  &-title {
    margin-inline: 15px;
    margin-block: 10px;
    color: var(--summary_text);
    font-weight: 800;
    font-size: 1.625rem;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;

    h1 {
      display: none;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    opacity: 0.8;
    filter: saturate(0%);
    margin-inline: 10px;
    margin-block-end: 10px;
    font-size: 13px;
    line-height: 1.25;

    mark {
      font-weight: 700;
      font-size: 0.6875rem;
    }
  }

  &-summary {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 3px 5px var(--shadow));
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-block: 10px;
    border: solid 1px var(--summary_border);
    border-bottom-width: 4px;
    border-radius: $roundness;
    background-image: linear-gradient(to left, var(--summary_background), transparent);
    background-color: var(--summary_background);
    padding: 10px 15px;
    color: var(--summary_text);
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.25;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;

    h3 {
      text-wrap: balance;
      margin-inline-end: 15px;
    }

    &-left {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .copy_button {
      fill: var(--summary_text);
    }

    &:hover {
      background-color: var(--links_hover);
    }
  }

  &-section {
    margin-block: 15px;
    border: solid 1px var(--content-background-border);
    border-radius: $roundness;
    background-color: var(--content-background-color);
  }

  &-content {
    p {
      text-wrap: stable;
      margin-inline: 20px;
      margin-block: 15px;
    }

    @media screen and (max-width: 375px) {
      hyphens: auto;
    }

    .message {
      &-correct,
      &-incorrect {
        flex: 1 1 300px;
        border-radius: $roundness;
        padding-bottom: 10px;
      }

      &-incorrect {
        border: 1px solid hsla(0, 100%, 50%, 0.25);
        background: hsla(0, 100%, 50%, 0.1);
      }

      &-correct {
        border: 1px solid hsla(120, 100%, 50%, 0.25);
        background: hsla(120, 100%, 50%, 0.1);
      }

      &-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin: 10px;
      }

      &-left {
        position: relative;
        top: 0;
        left: 0;
        filter: saturate(0%);
        margin-right: auto;
        margin-left: 10px;
        margin-block: 10px;
        border: 1px solid var(--mark_border);
        border-radius: $roundness * 0.75;
        background-color: var(--mark_background);
        padding: 10px;
        max-width: 70%;
        color: var(--mark_text);
        font-size: 0.875rem;
        line-height: 1.15;
        text-align: left;
      }

      &-right {
        filter: saturate(100%);
        margin-right: 10px;
        margin-left: auto;
        margin-block: 10px;
        border: 1px solid var(--mark_border);
        border-radius: $roundness * 0.75;
        background-color: var(--mark_background);
        padding: 10px;
        max-width: 70%;
        color: var(--mark_text);
        font-size: 0.875rem;
        line-height: 1.15;
        text-align: right;
      }
    }

    a {
      transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      color: var(--accent);
      font-weight: 700;
      text-decoration: underline;

      &:hover {
        opacity: 0.5;
      }

      &:visited {
        filter: saturate(0.5);
      }
    }

    ul {
      margin-block: 10px;
    }

    li {
      text-wrap: stable;
      position: relative;
      padding-inline: 10px;
      padding-inline-start: 30px;
      padding-block: 10px;
      line-height: 1.75;
      list-style-type: none;
      code {
        margin-inline: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--content-background-border);
      }

      &::before {
        display: inline-block;
        position: absolute;
        top: 12px;
        bottom: 12px;
        left: 15px;
        opacity: 50%;
        border-radius: $roundness;
        background-color: var(--accent);
        width: 2px;
        content: "";
      }
    }

    & {
      border-radius: $roundness;
      line-height: 1.75;
    }
  }
}

.flexible-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  margin: 10px;

  button,
  a {
    display: flex;
    flex: 1 0 150px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    transition: opacity 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-block: 0;
    border: 1px solid var(--summary_border);
    border-bottom-width: 3px;
    border-radius: $roundness;
    background-color: var(--summary_background);
    padding-inline: 10px;
    padding-block: 5px;
    color: var(--summary_text);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
      background-color: var(--links_hover);
    }
  }
}

details > summary::-webkit-details-marker {
  display: none;
}

code {
  display: block;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 10px;
  margin-block: 10px;
  border: 1px solid hsl(225, 20%, 20%);
  border-radius: $roundness * 0.75;
  background-color: hsl(225, 15%, 13%);
  padding: 10px 15px;
  scrollbar-color: hsl(225, 20%, 20%) hsl(225, 15%, 13%);
  scrollbar-width: thin;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25;
  font-family: "JetBrains Mono", monospace;
  user-select: text;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $roundness;
    background-color: hsl(225, 20%, 20%);
  }

  &::-webkit-scrollbar-track {
    margin: 5px;
    background: hsl(225, 15%, 13%);
  }
}

mark {
  filter: saturate(75%);
  margin-block: 2px;
  outline: 1px solid var(--mark_border);
  border-radius: $roundness * 0.5;
  background-color: var(--mark_background);
  padding: 2px 4px;
  color: var(--mark_text);

  &.file,
  &.key,
  &.plugin,
  &.app,
  &.ui,
  &.path,
  &.copy,
  &.tag,
  &.video,
  &.image {
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }

    &:active {
      opacity: 0.5;
    }

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-inline-end: 4px;
      margin-block: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: var(--mark_text);
      width: 14px;
      height: 14px;
      content: "";
    }
  }

  &.file::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath  d='m8 19.425l-2.25 2.25q-.3.3-.7.288t-.7-.313q-.275-.3-.287-.7t.287-.7L6.6 18H5.35q-.425 0-.712-.287T4.35 17t.288-.712T5.35 16H9q.425 0 .713.288T10 17v3.65q0 .425-.288.713T9 21.65t-.712-.287T8 20.65zM13 22q-.425 0-.712-.288T12 21v-4q0-1.25-.875-2.125T9 14H5q-.425 0-.712-.288T4 13V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm0-13h5l-5-5l5 5l-5-5z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.key::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M8 17q-.425 0-.712-.288T7 16t.288-.712T8 15h8q.425 0 .713.288T17 16t-.288.713T16 17zM4 9q-.425 0-.712-.288T3 8t.288-.712T4 7t.713.288T5 8t-.288.713T4 9m4 0q-.425 0-.712-.288T7 8t.288-.712T8 7t.713.288T9 8t-.288.713T8 9m4 0q-.425 0-.712-.288T11 8t.288-.712T12 7t.713.288T13 8t-.288.713T12 9m4 0q-.425 0-.712-.288T15 8t.288-.712T16 7t.713.288T17 8t-.288.713T16 9m4 0q-.425 0-.712-.288T19 8t.288-.712T20 7t.713.288T21 8t-.288.713T20 9m0 4q-.425 0-.712-.288T19 12t.288-.712T20 11t.713.288T21 12t-.288.713T20 13m-4 0q-.425 0-.712-.288T15 12t.288-.712T16 11t.713.288T17 12t-.288.713T16 13m-4 0q-.425 0-.712-.288T11 12t.288-.712T12 11t.713.288T13 12t-.288.713T12 13m-4 0q-.425 0-.712-.288T7 12t.288-.712T8 11t.713.288T9 12t-.288.713T8 13m-4 0q-.425 0-.712-.288T3 12t.288-.712T4 11t.713.288T5 12t-.288.713T4 13'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.plugin::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M5 21q-.825 0-1.413-.587Q3 19.825 3 19v-3.8q1.2 0 2.1-.762q.9-.763.9-1.938q0-1.175-.9-1.938Q4.2 9.8 3 9.8V6q0-.825.587-1.412Q4.175 4 5 4h4q0-1.05.725-1.775Q10.45 1.5 11.5 1.5q1.05 0 1.775.725Q14 2.95 14 4h4q.825 0 1.413.588Q20 5.175 20 6v4q1.05 0 1.775.725q.725.725.725 1.775q0 1.05-.725 1.775Q21.05 15 20 15v4q0 .825-.587 1.413Q18.825 21 18 21h-3.8q0-1.2-.762-2.1q-.763-.9-1.938-.9q-1.175 0-1.938.9q-.762.9-.762 2.1Z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.app::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6q.425 0 .713.288T12 4t-.288.713T11 5H5v14h14v-6q0-.425.288-.712T20 12t.713.288T21 13v6q0 .825-.587 1.413T19 21zM19 6.4L10.4 15q-.275.275-.7.275T9 15t-.275-.7t.275-.7L17.6 5H15q-.425 0-.712-.288T14 4t.288-.712T15 3h5q.425 0 .713.288T21 4v5q0 .425-.288.713T20 10t-.712-.288T19 9z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.ui::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M10.475 22q-.7 0-1.312-.3t-1.038-.85L3.1 14.475q-.2-.225-.175-.537t.225-.513q.5-.525 1.2-.625t1.3.275L7.5 14.2V6q0-.425.288-.712T8.5 5t.725.288t.3.712v5H17q1.25 0 2.125.875T20 14v4q0 1.65-1.175 2.825T16 22zm1.5-13q-.425 0-.712-.288T10.975 8q0-.05.125-.5q.2-.35.3-.712T11.5 6q0-1.25-.875-2.125T8.5 3t-2.125.875T5.5 6q0 .425.1.788t.3.712q.075.125.1.25t.025.25q0 .425-.275.713T5.05 9q-.275 0-.512-.15t-.363-.375q-.325-.55-.5-1.175T3.5 6q0-2.075 1.463-3.537T8.5 1t3.538 1.463T13.5 6q0 .675-.175 1.3t-.5 1.175q-.125.225-.35.375t-.5.15'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.path::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15 23q-.825 0-1.412-.587T13 21q0-.575.275-1.025T14 19.25v-5.525q-.45-.275-.725-.712T13 12q0-.825.588-1.412T15 10t1.413.588T17 12q0 .575-.275 1.013t-.725.712V16.6l4-1.325v-1.55q-.45-.275-.725-.712T19 12q0-.825.588-1.412T21 10t1.413.588T23 12q0 .575-.275 1.013t-.725.712v1.525q0 .65-.375 1.175t-1 .725L16 18.7v.55q.45.275.725.725T17 21q0 .825-.587 1.413T15 23M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h5.175q.4 0 .763.15t.637.425L12 6h9q.425 0 .713.288T22 7t-.288.713T21 8h-6q-1.65 0-2.825 1.175T11 12q0 .775.263 1.45t.737 1.2v3.7q-.325.35-.537.762t-.338.888z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.copy::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9 18q-.825 0-1.412-.587T7 16V4q0-.825.588-1.412T9 2h9q.825 0 1.413.588T20 4v12q0 .825-.587 1.413T18 18zm-4 4q-.825 0-1.412-.587T3 20V7q0-.425.288-.712T4 6t.713.288T5 7v13h10q.425 0 .713.288T16 21t-.288.713T15 22z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.tag::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M15 20H4q-.625 0-.9-.55t.1-1.05L8 12L3.2 5.6q-.375-.5-.1-1.05T4 4h11q.475 0 .9.212t.7.588l4.5 6q.4.525.4 1.2t-.4 1.2l-4.5 6q-.275.375-.7.588T15 20'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.video::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M17 10.5V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-3.5l4 4v-11z'/%3E%3C/svg%3E");
    mask-size: cover;
  }

  &.image::before {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath d='M8.5 13.498l2.5 3.006l3.5-4.506l4.5 6H5m16 1v-14a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2z' fill='currentColor'/%3E%3C/svg%3E");
    mask-size: cover;
  }
}
