@import "../variables";

.faq {
  &-container {
    max-width: 1000px;
    margin-inline: auto;

    &-flex {
      max-width: 1400px;
      margin-inline: auto;
      display: flex;
      flex-direction: row;
    }
  }

  &-title {
    h1 {
      display: none;
    }

    margin-inline: 10px;
  }

  &-summary {
    &-left {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .copy_button {
      fill: var(--accent);
    }

    filter: drop-shadow(0 2.5px 5px var(--shadow));
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: var(--links_hover);
    }

    font-weight: 800;
    margin-block: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    line-height: 1.25;
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    font-family: "Mulish",
    sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--summary_text);
    background-color: var(--summary_background);
    border-radius: $roundness;
    border-left: solid 1px var(--summary_border);
    border-right: solid 1px var(--summary_border);
    border-top: solid 1px var(--summary_border);
    border-bottom: solid 4px var(--summary_border);
    display: flex;
  }

  &-section {
    border-radius: $roundness;
    margin-block: 15px;
    background-color: var(--content-background-color);
    border: solid 1px var(--content-background-border);
  }

  &-content {
    h2 {
      margin-inline: 20px;
      padding-top: 10px;
      margin-bottom: -10px;
      font-weight: 900;
      font-family: "Mulish",
        sans-serif;
      font-size: 24px;
      color: var(--summary_text);
    }

    p {
      margin-inline: 20px;
      margin-block: 15px;
    }

    @media screen and (max-width: 375px) {
      hyphens: auto;
    }



    border-radius: $roundness;
    line-height: 1.75;

    .flexible {
      &-links {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0 auto;
        max-width: 800px;
        justify-content: center;

        a {
          background-color: var(--button_background);
          border: 2px solid var(--button_border);
          padding-inline: 10px;
          padding-block: 5px;
          border-radius: $roundness;
          margin-block: 0;
          text-decoration: none;
        }
      }
    }

    a {
      color: var(--accent);
      font-weight: 700;
      text-decoration: underline;
    }

    li {
      list-style-type: none;
      padding-inline: 15px;
      padding-block: 10px;
      padding-inline-start: 30px;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid var(--content-background-border);
      }

      &::before {
        border-radius: $roundness;
        content: "";
        display: inline-block;
        width: 3px;
        height: 50%;
        background-color: var(--accent);
        position: absolute;
        left: 15px;
        opacity: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    code {
      user-select: text;
      display: block;
      background-color: #303030;
      margin-block: 10px;
      font-family: 'JetBrains Mono', monospace;
      line-height: 1.25;
      font-size: 14px;
      padding: 10px 15px;
      border-radius: $roundness;
      color: #ffffff;
    }

    mark {
      background-color: var(--mark_background);
      filter: saturate(75%);
      padding: 2px 3px;
      border-radius: $roundness*0.5;
      border: 1px solid var(--mark_border);
      color: var(--mark_text);

      .file {}

      .key {}

      .plugin {}

      .app {}

      .ui {}

      .path {}
    }
  }
}