@use "@/styles/mixins" as *;

// *: главная страница сайта

.links {
  margin-top: 32px;
  margin-inline: auto;
  width: calc(100% - 10px);
  max-width: 1400px;

  &-button {
    display: flex;
    flex: 1 1 275px;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 1px solid var(--content-background-border);
    box-shadow: 0 5px 5px 0 var(--shadow);
    border-radius: $roundness;
    background-image: linear-gradient(
      to top,
      var(--content-background-color),
      transparent
    );
    background-color: var(--content-background-color);

    a {
      width: 100%;
    }

    &:hover {
      z-index: 25;
      cursor: pointer;
      outline-color: var(--links_border);
      background-color: var(--links_hover);
    }

    .name_container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: stretch;
      vertical-align: middle;
      box-sizing: border-box;
      outline: 1px solid var(--links_border);
      border-radius: $roundness * 0.75;
      background-image: linear-gradient(to top, var(--summary_background), transparent);
      background-color: var(--links_background);
      padding-inline: 10px;
      padding-block: 5px;

      .icon {
        flex-shrink: 0;
        margin-inline-start: 8px;
        margin-block: 3px;
        width: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
        height: min(calc(18px + (20 - 18) * ((100vw - 320px) / (768 - 320))), 20px);
        color: var(--links_text);

        path {
          margin-block: auto;
        }
      }

      .name {
        margin: 3px;
        color: var(--links_text);
        font-weight: 700;
        font-size: 1.2rem;
        font-family: "Onest", sans-serif;
      }
    }

    .description {
      text-wrap: balance;
      opacity: 0.75;
      padding-inline: 12px;
      padding-block: 8px;
      width: 100%;
      font-weight: 400;
      font-size: 0.95rem;
    }
  }

  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
