@use "@/styles/mixins" as *;

// *: главная страница сайта

.links {
  margin-top: 32px;
  margin-inline: auto;
  width: 95%;
  max-width: 1400px;

  &-button {
    display: flex;
    flex: 1 1 275px;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 1px solid var(--content-background-border);
    box-shadow: 0 5px 5px 0 var(--shadow);
    border-radius: $roundness;
    background-image: linear-gradient(
      to top,
      var(--content-background-color),
      transparent
    );
    background-color: var(--content-background-color);

    a {
      width: 100%;
    }

    &:hover {
      z-index: 25;
      cursor: pointer;
      outline-color: var(--links_border);
      background-color: var(--links_hover);
    }

    .name_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      margin: 5px;
      outline: 1px solid var(--links_border);
      border-radius: $roundness * 0.75;
      background-image: linear-gradient(to top, var(--summary_background), transparent);
      background-color: var(--links_background);
      padding-inline: 10px;
      padding-block: 5px;

      .icon {
        flex-shrink: 0;
        margin-inline-start: 8px;
        width: 22px;
        height: 22px;
        color: var(--links_text);

        path {
          margin: auto;
        }
      }

      .name {
        margin: 3px;
        color: var(--links_text);
        font-weight: 700;
        font-size: 1.15rem;
        font-family: "Onest", sans-serif;
      }
    }

    .description {
      text-wrap: balance;
      opacity: 0.75;
      padding-inline: 12px;
      padding-block-start: 5px;
      padding-block-end: 12px;
      width: 100%;
      font-weight: 400;
      font-size: 0.875rem;
    }
  }

  &-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}
