@use "@/styles/mixins" as *;

li > .addition-info,
li > .addition-warning,
li > .addition-danger,
.links > .addition-info,
.links > .addition-warning,
.links > .addition-danger {
  margin-inline: 0;
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.addition {
  &-info,
  &-warning,
  &-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    margin-block: 15px;
    border-radius: $roundness * 0.75;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.9375rem;
    line-height: 1.65;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    a {
      font-weight: 700;
      text-decoration: underline;
    }

    mark {
      filter: saturate(125%);
      font-style: italic;
    }

    li {
      margin-inline-start: 20px;
      margin-block: 5px;
      padding-inline-start: 2px;
      padding-block: 0;
      list-style-type: decimal;

      &:not(:last-child) {
        border-bottom: none;
      }

      &::before {
        display: none;
      }
    }
  }

  &-info {
    outline: 1px solid var(--addition_info-border);
    background-color: var(--addition_info);
    color: var(--addition_info-text);

    .change_os {
      margin-inline: 5px;
      outline: 1px solid var(--addition_info-border);
      border-radius: $roundness * 0.5;
      background-color: var(--addition_info-mark);
      padding: 5px;
      color: var(--addition_info-text);
      line-height: 1.25;
      text-align: center;
    }

    a {
      color: var(--addition_info-text);
    }

    mark {
      border: 1px solid var(--addition_info-border);
      background-color: var(--addition_info-mark);
      color: var(--addition_info-text);

      &::before {
        background-color: var(--addition_info-text) !important;
      }
    }
  }

  &-warning {
    outline: 1px solid var(--addition_warning-border);
    background-color: var(--addition_warning);
    color: var(--addition_warning-text);

    a {
      color: var(--addition_warning-text);
    }

    mark {
      border: 1px solid var(--addition_warning-border);
      background-color: var(--addition_warning-mark);
      color: var(--addition_warning-text);

      &::before {
        background-color: var(--addition_warning-text) !important;
      }
    }
  }

  &-danger {
    outline: 1px solid var(--addition_danger-border);
    background-color: var(--addition_danger);
    color: var(--addition_danger-text);

    a {
      color: var(--addition_danger-text);
    }

    mark {
      border: 1px solid var(--addition_danger-border);
      background-color: var(--addition_danger-mark);
      color: var(--addition_danger-text);

      &::before {
        background-color: var(--addition_danger-text) !important;
      }
    }
  }
}

.change_os {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  filter: saturate(0.5) contrast(1.2) opacity(0.9);
  margin: 10px;
  margin-block: 15px;
  outline: 1px solid var(--addition_warning-border);
  border-radius: $roundness;
  background-color: var(--addition_warning);
  padding: 10px 15px;
  color: var(--addition_warning-text);
  font-size: 0.9375rem;
  line-height: 1.5;

  button {
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-inline: 5px;
    outline: 1px solid var(--addition_warning-border);
    border-radius: $roundness * 0.5;
    background-color: var(--addition_warning-mark);
    padding: 5px 8px;
    color: var(--addition_warning-text);
    font-weight: 700;
    line-height: 1.25;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  a {
    color: var(--addition_warning-text);
  }

  mark {
    border: 1px solid var(--addition_warning-border);
    background-color: var(--addition_warning-mark);
    color: var(--addition_warning-text);

    &::before {
      background-color: var(--addition_warning-text) !important;
    }
  }
}
