@use "@/styles/mixins" as *;

li > .addition-info,
li > .addition-warning,
li > .addition-danger,
.links > .addition-info,
.links > .addition-warning,
.links > .addition-danger,
.faq-container > .addition-info,
.faq-container > .addition-warning,
.faq-container > .addition-danger {
  margin-inline: 0;
}

.addition {
  &-info,
  &-warning,
  &-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: $roundness * 0.75;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.9375rem;
    line-height: 1.65;

    &:first-child {
      margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    a {
      font-weight: 700;
      text-decoration: underline;
    }

    mark {
      outline: none;
      padding-inline: 5px;
      padding-block: 3px;
    }

    ul {
      margin: 0;
    }

    li {
      position: relative;
      margin-inline-start: 20px;
      margin-block: 5px;
      padding-inline-start: 2px;
      padding-block: 4px;

      &:not(:last-child) {
        border-bottom: 1px solid;
      }

      &::before {
        display: inline-block;
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: -12px;
        opacity: 50%;
        border-radius: $roundness;
        width: 2px;
        content: "";
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-info {
    outline: 1px solid var(--addition_info-border);
    background-color: var(--addition_info);
    color: var(--addition_info-text);

    .change_os {
      margin-inline: 5px;
      outline: 1px solid var(--addition_info-border);
      border-radius: $roundness * 0.5;
      background-color: var(--addition_info-mark);
      padding: 5px;
      color: var(--addition_info-text);
      line-height: 1.25;
      text-align: center;
    }

    a {
      color: var(--addition_info-text);
    }

    li {
      &::before {
        background-color: var(--addition_info-text);
      }

      &:not(:last-child) {
        border-bottom-color: var(--addition_info-mark);
      }
    }

    mark {
      background-color: var(--addition_info-mark);
      color: var(--addition_info-text);

      &::before {
        background-color: var(--addition_info-text) !important;
      }
    }
  }

  &-warning {
    outline: 1px solid var(--addition_warning-border);
    background-color: var(--addition_warning);
    color: var(--addition_warning-text);

    a {
      color: var(--addition_warning-text);
    }

    li {
      &::before {
        background-color: var(--addition_warning-text);
      }

      &:not(:last-child) {
        border-bottom-color: var(--addition_warning-mark);
      }
    }

    mark {
      background-color: var(--addition_warning-mark);
      color: var(--addition_warning-text);

      &::before {
        background-color: var(--addition_warning-text) !important;
      }
    }
  }

  &-danger {
    outline: 1px solid var(--addition_danger-border);
    background-color: var(--addition_danger);
    color: var(--addition_danger-text);

    a {
      color: var(--addition_danger-text);
    }

    li {
      &::before {
        background-color: var(--addition_danger-text);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--addition_danger-mark);
      }
    }

    mark {
      background-color: var(--addition_danger-mark);
      color: var(--addition_danger-text);

      &::before {
        background-color: var(--addition_danger-text) !important;
      }
    }
  }
}

.change_os {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  filter: saturate(0.5);
  margin: 10px;
  margin-block: 15px;
  outline: 1px solid var(--summary_border);
  border-radius: $roundness;
  background-color: var(--summary_background);
  padding: 10px 15px;
  color: var(--summary_text);
  font-size: 0.9375rem;
  line-height: 1.5;

  button {
    opacity: 0.5;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 1px solid var(--summary_border);
    border-radius: $roundness * 0.5;
    padding: 5px 8px;
    color: var(--summary_text);
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  a {
    color: var(--addition_warning-text);
  }

  mark {
    outline: 1px solid var(--addition_warning-border);
    background-color: var(--addition_warning-mark);
    color: var(--addition_warning-text);

    &::before {
      background-color: var(--addition_warning-text) !important;
    }
  }
}
