@import "variables";

.addition {

  &-info,
  &-warning,
  &-danger {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: $roundness;
    margin-block: 10px;
    line-height: 1.5;

    a {
      font-weight: 700;
      text-decoration: underline;
    }

    mark {
      filter: saturate(125%);
      font-style: italic;
    }


    li {
      list-style-type: decimal;
      margin-block: 5px;
      padding-block: 0;
      padding-inline-start: 2px;
      margin-inline-start: 20px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  &-info {
    background-color: var(--addition_info);
    border: 1px solid var(--addition_info-border);
    color: var(--addition_info-text);

    .change_os {
      border-radius: $roundness*0.5;
      margin-inline: 5px;
      padding: 5px;
      text-align: center;
      line-height: 1.25;
      background-color: var(--addition_info-mark);
      border: 1px solid var(--addition_info-border);
      color: var(--addition_info-text);
    }

    a {
      color: var(--addition_info-text);
    }

    mark {
      background-color: var(--addition_info-mark);
      border: 1px solid var(--addition_info-border);
      color: var(--addition_info-text);
    }
  }

  &-warning {
    background-color: var(--addition_warning);
    border: 1px solid var(--addition_warning-border);
    color: var(--addition_warning-text);

    a {
      color: var(--addition_warning-text);
    }

    mark {
      background-color: var(--addition_warning-mark);
      border: 1px solid var(--addition_warning-border);
      color: var(--addition_warning-text);
    }
  }

  &-danger {
    background-color: var(--addition_danger);
    border: 1px solid var(--addition_danger-border);
    color: var(--addition_danger-text);

    a {
      color: var(--addition_danger-text);
    }

    mark {
      background-color: var(--addition_danger-mark);
      border: 1px solid var(--addition_danger-border);
      color: var(--addition_danger-text);
    }
  }
}