@import "variables";

.addition {

  &-info,
  &-warning,
  &-danger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-block: 10px;
    border-radius: $roundness;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: 700;
      text-decoration: underline;
    }

    mark {
      filter: saturate(125%);
      font-style: italic;
    }

    li {
      margin-inline-start: 20px;
      margin-block: 5px;
      padding-inline-start: 2px;
      padding-block: 0;
      list-style-type: decimal;
      &:not(:last-child) {
        border-bottom: none;
      }
      &::before {
        display: none;    
      }
    }

  }

  &-info {
    border: 1px solid var(--addition_info-border);
    background-color: var(--addition_info);
    color: var(--addition_info-text);

    .change_os {
      margin-inline: 5px;
      border: 1px solid var(--addition_info-border);
      border-radius: $roundness*0.5;
      background-color: var(--addition_info-mark);
      padding: 5px;
      color: var(--addition_info-text);
      line-height: 1.25;
      text-align: center;
    }

    a {
      color: var(--addition_info-text);
    }

    mark {
      border: 1px solid var(--addition_info-border);
      background-color: var(--addition_info-mark);
      color: var(--addition_info-text);
    }
  }

  &-warning {
    border: 1px solid var(--addition_warning-border);
    background-color: var(--addition_warning);
    color: var(--addition_warning-text);

    a {
      color: var(--addition_warning-text);
    }

    mark {
      border: 1px solid var(--addition_warning-border);
      background-color: var(--addition_warning-mark);
      color: var(--addition_warning-text);
    }
  }

  &-danger {
    border: 1px solid var(--addition_danger-border);
    background-color: var(--addition_danger);
    color: var(--addition_danger-text);

    a {
      color: var(--addition_danger-text);
    }

    mark {
      border: 1px solid var(--addition_danger-border);
      background-color: var(--addition_danger-mark);
      color: var(--addition_danger-text);
    }
  }
}