@use "@/styles/mixins" as *;

.ant-divider-inner-text {
  opacity: 0.8;
  font-weight: 700;
  font-size: 0.785rem;
  text-transform: uppercase;
}

.ant-slider:hover .ant-slider-handle::after {
  box-shadow: 0 0 0 2px var(--accent);
}

.ant-message {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
  outline: 1px solid var(--content-background-border);
  background: var(--content-background-color);
}

.ant-modal {
  top: 8px;

  @media (min-width: 768px) {
    top: 64px;
  }
}

.ant-modal .ant-modal-content {
  box-shadow: none;
  border: none;
  border-radius: none;
  background: none;
  padding: 0;
}

.ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: var(--accent);
}

.ant-dropdown-menu-item {
  outline: 1px solid transparent;
}

.ant-dropdown-menu-item:hover {
  outline: 1px solid var(--summary_border);
}
