:root {
  --accent-hue: 210;
  --header_shadow: hsla(0, 0%, 0%, 0.05);
  --shadow: hsla(0, 0%, 0%, 0.1);
  --saturate-ratio: 1;
}

$light: (
  // ~: стандартные цвета:
  background-color: hsl(0, 0%, 92.5%),
  text-color: hsl(0, 0%, 20%),
  content-background-color: hsl(0, 0%, 100%),
  content-background-border: hsl(0, 0%, 90%),
  header_background: hsla(0, 0%, 100%, 0.5),
  // ~: банковские цвета:
  sber-background: hsl(130, calc(45% * var(--saturate-ratio)), 90%),
  sber-text: hsl(130, calc(50% * var(--saturate-ratio)), 30%),
  sber-hover: hsl(130, calc(50% * var(--saturate-ratio)), 85%),
  sber-border: hsl(130, calc(75% * var(--saturate-ratio)), 80%),
  yoomoney-background: hsl(257, calc(75% * var(--saturate-ratio)), 95%),
  yoomoney-text: hsl(257, calc(50% * var(--saturate-ratio)), 25%),
  yoomoney-hover: hsl(257, calc(50% * var(--saturate-ratio)), 85%),
  yoomoney-border: hsl(257, calc(90% * var(--saturate-ratio)), 85%),
  // ~: с применением акцентного цвета:
  accent: hsl(var(--accent-hue), calc(65% * var(--saturate-ratio)), 45%),
  mark_background: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 97%),
  mark_text: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 25%),
  mark_border: hsl(var(--accent-hue), calc(90% * var(--saturate-ratio)), 85%),
  button_background: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 95%),
  button_border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 85%),
  header_border: hsla(var(--accent-hue), calc(35% * var(--saturate-ratio)), 80%, 0.5),
  // *: стили summary
  summary_background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
  summary_border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 80%),
  summary_text: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 40%),
  // *: стили кнопок главной страницы
  links_background: hsl(var(--accent-hue), calc(41% * var(--saturate-ratio)), 97%),
  links_border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 80%),
  links_hover: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 92.5%),
  links_text: hsl(var(--accent-hue), calc(85% * var(--saturate-ratio)), 40%),
  // ~: информационные блоки:
  addition_info: hsl(200, calc(100% * var(--saturate-ratio)), 95%),
  addition_info-border: hsl(200, calc(90% * var(--saturate-ratio)), 75%),
  addition_info-text: hsl(200, calc(75% * var(--saturate-ratio)), 25%),
  addition_info-mark: hsl(200, calc(70% * var(--saturate-ratio)), 85%),
  addition_warning: hsl(50, calc(100% * var(--saturate-ratio)), 90%),
  addition_warning-border: hsl(50, calc(90% * var(--saturate-ratio)), 50%),
  addition_warning-text: hsl(50, calc(75% * var(--saturate-ratio)), 20%),
  addition_warning-mark: hsl(50, calc(100% * var(--saturate-ratio)), 85%),
  addition_danger: hsl(0, calc(100% * var(--saturate-ratio)), 92%),
  addition_danger-border: hsl(0, calc(80% * var(--saturate-ratio)), 75%),
  addition_danger-text: hsl(0, calc(75% * var(--saturate-ratio)), 25%),
  addition_danger-mark: hsl(0, calc(70% * var(--saturate-ratio)), 85%),
  // *: стили таблицы
  table_background: hsl(0, calc(0% * var(--saturate-ratio)), 95%),
  table_background-border: hsl(0, calc(0% * var(--saturate-ratio)), 90%)
);
$dark: (
  // ~: стандартные цвета:
  background-color: hsl(0, 0%, 0%),
  text-color: hsl(0, 0%, 100%),
  content-background-color: hsl(0, 0%, 7.5%),
  content-background-border: hsl(0, 0%, 15%),
  header_background: hsla(0, 0%, 7.5%, 0.75),
  // ~: банковские цвета:
  sber-background: hsl(130, calc(30% * var(--saturate-ratio)), 13%),
  sber-text: hsl(130, calc(60% * var(--saturate-ratio)), 85%),
  sber-hover: hsl(130, calc(40% * var(--saturate-ratio)), 18%),
  sber-border: hsl(130, calc(50% * var(--saturate-ratio)), 30%),
  yoomoney-background: hsl(257, calc(50% * var(--saturate-ratio)), 17%),
  yoomoney-text: hsl(257, calc(70% * var(--saturate-ratio)), 85%),
  yoomoney-hover: hsl(257, calc(50% * var(--saturate-ratio)), 25%),
  yoomoney-border: hsl(257, calc(80% * var(--saturate-ratio)), 50%),
  // ~: с применением акцентного цвета:
  accent: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 73%),
  mark_background: hsl(var(--accent-hue), calc(20% * var(--saturate-ratio)), 12.5%),
  mark_border: hsl(var(--accent-hue), calc(50% * var(--saturate-ratio)), 50%),
  mark_text: hsl(var(--accent-hue), calc(75% * var(--saturate-ratio)), 90%),
  button_background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 12.5%),
  button_border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 25%),
  header_border: hsla(var(--accent-hue), calc(30% * var(--saturate-ratio)), 30%, 0.5),
  // *: стили summary
  summary_background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 8%),
  summary_border: hsl(var(--accent-hue), calc(35% * var(--saturate-ratio)), 25%),
  summary_text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  // *: стили кнопок главной страницы
  links_background: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 8%),
  links_border: hsl(var(--accent-hue), calc(25% * var(--saturate-ratio)), 17.5%),
  links_hover: hsl(var(--accent-hue), calc(30% * var(--saturate-ratio)), 12.5%),
  links_text: hsl(var(--accent-hue), calc(100% * var(--saturate-ratio)), 80%),
  // ~: информационные блоки:
  addition_info: hsl(200, calc(40% * var(--saturate-ratio)), 12.5%),
  addition_info-border: hsl(200, calc(50% * var(--saturate-ratio)), 25%),
  addition_info-text: hsl(200, calc(75% * var(--saturate-ratio)), 90%),
  addition_info-mark: hsl(200, calc(50% * var(--saturate-ratio)), 25%),
  addition_warning: hsl(50, calc(60% * var(--saturate-ratio)), 20%),
  addition_warning-border: hsl(50, calc(50% * var(--saturate-ratio)), 30%),
  addition_warning-text: hsl(50, calc(75% * var(--saturate-ratio)), 90%),
  addition_warning-mark: hsl(50, calc(90% * var(--saturate-ratio)), 25%),
  addition_danger: hsl(0, calc(45% * var(--saturate-ratio)), 20%),
  addition_danger-border: hsl(0, calc(50% * var(--saturate-ratio)), 30%),
  addition_danger-text: hsl(0, calc(100% * var(--saturate-ratio)), 90%),
  addition_danger-mark: hsl(0, calc(50% * var(--saturate-ratio)), 25%),
  // *: стили таблицы
  table_background: hsl(0, calc(0% * var(--saturate-ratio)), 12.5%),
  table_background-border: hsl(0, calc(0% * var(--saturate-ratio)), 20%)
);

.light {
  @each $key, $value in $light {
    --#{$key}: #{$value};
  }
}

.dark {
  @each $key, $value in $dark {
    --#{$key}: #{$value};
  }
}
