@import "variables";

.figure {
  &_browser {

    &-youtube {
      border-radius: $roundness;
      background: #303030;

      .window {
        &-header {
          display: flex;

          figcaption {
            display: block;
            margin-inline: auto;
            margin-block: 5px;
            border: 1px solid #606060;
            border-radius: $roundness*0.5;
            background: #454545;
            padding: 3px 8px;
            max-width: 75%;
            overflow: hidden;
            color: #eeeeee;
            font-size: 13px;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  &_windows {

    &-light,
    &-dark {
      margin-inline: auto;
      max-width: max-content;
      max-height: max-content;

      .window {
        &-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 5px 10px;

          figcaption {
            overflow: hidden;
            font-weight: 500;
            font-size: 14px;
            font-family: "Segoe UI", "Arial", sans-serif;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &-controls {
          display: flex;
          flex-direction: row;
          gap: 20px;
          padding-inline: 15px;

          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    &-light {
      fill: black;
      border-radius: $roundness;
      background-color: #eeeeee;
      color: black;
    }

    &-dark {
      fill: white;
      border-radius: $roundness;
      background-color: #303030;
      color: white;
    }
  }

  &_macos {

    &-light,
    &-dark {
      margin-inline: auto;
      max-width: max-content;
      max-height: max-content;

      figcaption {
        overflow: hidden;
        font-weight: 500;
        font-size: 14px;
        font-family: 'Helvetica', sans-serif;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .window {
        &-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 10px;
        }
      }
    }

    &-light {
      background-color: #eeeeee;
    }

    &-dark {
      background-color: #303030;
    }
  }
}

video {
  border: none;
  border-radius: $roundness;
  width: 100%;
  height: 100%;
  max-height: 65vh;
}

iframe {
  border: none;
  border-radius: $roundness;
  width: 100%;
  height: calc(100vw * 9 / 16);
  max-height: 500px;
}

img {
  border: none;
  border-radius: $roundness;
  width: 100%;
  height: 100%;
  max-height: 65vh;
}