// *: static Inter (мультиязычный)
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Thin.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-ExtraLight.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Light.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Medium.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-SemiBold.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("/src/fonts/ttf/Inter/static/Inter_18pt-Black.ttf") format("truetype");
  font-family: "Inter";
}

// *: variable Inter
@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("/src/fonts/ttf/Inter/Inter-VariableFont.ttf") format("truetype-variations");
  font-family: "Inter";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("/src/fonts/ttf/Inter/Inter-VariableFont.ttf") format("truetype-variations");
  font-family: "Inter";
  font-display: swap;
}

// *: static Jetbrains Mono
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraLight.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraLightItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Thin.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 200;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ThinItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Light.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-LightItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Regular.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Italic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Medium.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-MediumItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-SemiBold.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-SemiBoldItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Bold.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-BoldItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraBold.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url("/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraBoldItalic.ttf")
    format("truetype");
  font-family: "JetBrains Mono";
}

// *: variable Jetbrains Mono
@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url("/src/fonts/ttf/JetBrainsMono/JetBrainsMono-Variable.ttf")
    format("truetype-variations");
  font-family: "JetBrains Mono";
}

@font-face {
  font-style: italic;
  font-weight: 100 800;
  src: url("/src/fonts/ttf/JetBrainsMono/JetBrainsMono-VariableItalic.ttf")
    format("truetype-variations");
  font-family: "JetBrains Mono";
}

// *: static Helvetica

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/ttf/Helvetica/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-family: "Helvetica";
}

// *: static Onest

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("/src/fonts/ttf/Onest/static/Onest-Black.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/ttf/Onest/static/Onest-Bold.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/ttf/Onest/static/Onest-ExtraBold.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/ttf/Onest/static/Onest-ExtraLight.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/ttf/Onest/static/Onest-Light.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/ttf/Onest/static/Onest-Medium.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/ttf/Onest/static/Onest-Regular.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/ttf/Onest/static/Onest-SemiBold.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/ttf/Onest/static/Onest-Thin.ttf") format("truetype");
  font-family: "Onest";
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("/src/fonts/ttf/Onest/Onest-VariableFont_wght.ttf")
    format("truetype-variations");
  font-family: "Onest";
}

// *: Static Manrope

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-Bold.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-ExtraLight.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-Light.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-Medium.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-Regular.ttf") format("truetype");
  font-family: "Manrope";
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/ttf/Manrope/static/Manrope-SemiBold.ttf") format("truetype");
  font-family: "Manrope";
}

// *: Variable Manrope

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url("/src/fonts/ttf/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype-variations");
  font-family: "Manrope";
}
