// *: static Inter (мультиязычный)
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Thin.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-ExtraLight.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Light.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-ExtraBold.ttf') format('truetype');
  font-family: 'Inter';
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url('/src/fonts/ttf/Inter/static/Inter_18pt-Black.ttf') format('truetype');
  font-family: 'Inter';
}

// *: variable Inter
@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url('/src/fonts/ttf/Inter/Inter-VariableFont.ttf') format('truetype-variations');
  font-family: 'Inter';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url('/src/fonts/ttf/Inter/Inter-VariableFont.ttf') format('truetype-variations');
  font-family: 'Inter';
  font-display: swap;
}

// *: static Mulish
@font-face {
  font-style: normal;
  font-weight: 200;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-ExtraLight.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Light.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Regular.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Medium.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-SemiBold.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Bold.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-ExtraBold.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Black.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 200;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-ExtraLightItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-LightItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-Italic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-MediumItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-SemiBoldItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-BoldItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-ExtraBoldItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

@font-face {
  font-style: italic;
  font-weight: 900;
  src: url('/src/fonts/ttf/Mulish/static/Mulish-BlackItalic.ttf') format('truetype');
  font-family: 'Mulish';
}

// *: static Jetbrains Mono
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraLightItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 200;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Thin.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 200;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ThinItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Light.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-LightItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Regular.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Italic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Medium.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-SemiBoldItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-BoldItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 800;
  src: url('/src/fonts/ttf/JetBrainsMono/static/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
  font-family: 'JetBrains Mono';
}

// *: variable Jetbrains Mono
@font-face {
  font-style: normal;
  font-weight: 100 800;
  src: url('/src/fonts/ttf/JetBrainsMono/JetBrainsMono-Variable.ttf') format('truetype-variations');
  font-family: 'JetBrains Mono';
}

@font-face {
  font-style: italic;
  font-weight: 100 800;
  src: url('/src/fonts/ttf/JetBrainsMono/JetBrainsMono-VariableItalic.ttf') format('truetype-variations');
  font-family: 'JetBrains Mono';
}