@use "@/styles/mixins" as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  z-index: 100;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    border 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top: 12px;
  border-radius: $roundness * 1.5;
  background-color: var(--header_background);
  padding-inline: 15px;

  width: 95%;
  max-width: 1075px;

  svg {
    fill: var(--accent);
    width: 20px;
    height: 20px;
  }

  &-left,
  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition:
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: max-content;

    .icon {
      align-items: center;
      align-self: center;
      vertical-align: middle;
      margin-bottom: 3px;
      width: 20px;
      height: 20px;
    }

    .logo {
      margin-inline: 3px;
      margin-block-start: 8px;
      margin-block-end: 10px;
      max-width: fit-content;
      color: var(--accent);
      font-style: italic;
      font-weight: 750;
      font-size: clamp(16px, 12vw, 20px);
      font-family: "JetBrains Mono", monospace;
    }
  }

  &-right {
    gap: 15px;
    margin-block: 0;
  }
}

.wide-search-button {
  display: flex;
  align-items: center;
  gap: 5px;
  outline: 1px solid var(--summary_border);
  border-radius: $roundness * 0.75;
  background: var(--header_background);
  padding: 5px;
  color: var(--mark_text);
  font-weight: 500;
  font-size: 0.85rem;

  svg {
    fill: var(--accent);
    width: 18px;
    height: 18px;
  }

  mark {
    margin-block: 0;
  }
}
