@import "variables";

.header {
  backdrop-filter: blur(50px);
  z-index: 100;
  background-color: var(--header_background);
  padding-inline: 20px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  border-bottom-left-radius: $roundness*1.5;
  border-bottom-right-radius: $roundness*1.5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 1400px;
  height: 64px;
  transition:
    background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &-left,
  &-right {
    transition:
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .icon {
      width: 24px;
      height: 24px;
    }

    .logo {
      font-family: "Anta", sans-serif;
      font-size: clamp(24px, 12vw, 28px);
      max-width: fit-content;
      margin-inline: 5px;
    }
  }
}