@use "sass:math";

// *: переменные

$roundness: 10px;

// *: миксины

@mixin fluid-text($min: 10, $max: 48) {
  $maxViewportWidth: 1400;
  $minViewportWidth: 300;

  $maxSize: math.div($max, 14);
  $minSize: math.div($min, 14);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);
  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: $minSize - ($slope * $minWidth);

  font-size: clamp(
    #{$minSize * 1rem},
    calc(#{$yAxisIntersection * 1rem} + #{$slope * 100vw}),
    #{$maxSize * 1rem}
  );
}
