@use "@/styles/mixins" as *;

// *: стили для обычных модальных окон
.modal {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-title {
    text-wrap: balance;
    margin-top: 10px;
    margin-inline: 15px;
    color: var(--accent);
    font-weight: 800;
    font-size: 1.625rem;
    line-height: 1.25;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
  }

  mark {
    display: block;
    transition:
      opacity,
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    border: 1px solid var(--mark_border);
    border-radius: $roundness;
    background-color: var(--mark_background);
    padding: 8px;
    color: var(--mark_text);
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .sber {
    transition:
      opacity,
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: solid 2px var(--sber-border);
    background-color: var(--sber-background);
    color: var(--sber-text) !important;

    &:hover {
      background-color: var(--sber-hover);
    }
  }

  .yoomoney {
    transition:
      opacity,
      background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: solid 2px var(--yoomoney-border);
    background-color: var(--yoomoney-background);
    color: var(--yoomoney-text) !important;

    &:hover {
      background-color: var(--yoomoney-hover);
    }
  }

  p {
    margin-inline: 15px;
    font-size: 0.95rem;
  }

  a {
    color: var(--accent);
    font-weight: 700;
    text-decoration: underline;
  }

  li {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding-inline: 15px;
    padding-inline-start: 30px;
    padding-block: 10px;
    list-style-type: none;

    &:not(:last-child) {
      border-bottom: 1px solid var(--content-background-border);
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      opacity: 50%;
      border-radius: $roundness;
      background-color: var(--accent);
      width: 3px;
      height: 65%;
      content: "";
    }
  }

  &-message {
    opacity: 0.5;
    margin-inline: 5px;
    font-weight: 500;
    font-size: 0.8125rem !important;
  }

  &-button,
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: 2px solid var(--links_border);
    border-radius: $roundness;
    background-color: var(--links_background);
    padding: 10px 20px;
    color: var(--accent) !important;
    font-weight: 700;
    font-size: 0.95rem;
    text-align: center;
  }
}

.in-page {
  border: 1px solid var(--links_border) !important;
}

// *: стили для ошибок
.error {
  &-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &-backtitle {
    position: absolute;
    opacity: 0.1;
    pointer-events: none;
    font-style: italic;
    font-weight: 800;
    font-size: 384px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &-modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    filter: drop-shadow(0 3px 5px var(--shadow));
    margin-inline: 20px;
    box-shadow: 0 3px 15px var(--shadow);
    border: 1px solid var(--content-background-border);
    border-radius: $roundness;
    background-color: var(--content-background-color);
    padding: 15px;
    max-width: 385px;
    text-align: left;

    &-title {
      text-wrap: balance;
      margin-inline: 5px;
      color: var(--accent);
      font-weight: 800;
      font-size: 2rem;
      line-height: 1.25;
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
    }

    p {
      text-wrap: balance;
      margin-inline: 5px;
    }

    &-message {
      opacity: 0.6;
      margin-inline: 5px;
      font-weight: 700;
      font-size: 13px;
    }

    &-button,
    button {
      cursor: pointer;
      border: 2px solid var(--links_border);
      border-radius: $roundness;
      background-color: var(--links_background);
      padding: 10px 20px;
      color: var(--accent) !important;
      font-weight: 700;
      text-align: center;
    }

    &-send-report {
      opacity: 0.5;
      margin-inline: 5px;
      font-size: 0.75rem;

      a {
        text-decoration: underline;
      }
    }
  }
}

// *: стили для поиска
.search {
  &-input {
    padding-inline-start: 16px;
    padding-block: 8px;
    width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 10px;
      margin: 15px;
      margin-block-end: 0;
      outline: 1px solid var(--content-background-border);
      border-radius: $roundness;
      padding-inline-end: 16px;
    }
  }

  &-results {
    outline: 1px solid var(--content-background-border);
    border-radius: $roundness * 1.5;
    max-height: 65lvh;
    overflow-y: auto;

    mark {
      filter: saturate(150%) brightness(98%);
      outline: 1px solid var(--mark_border);
      border-radius: $roundness * 0.5;
      background-color: var(--mark_background);
      padding: 2px 1px;
      color: var(--mark_text);
    }
  }

  &-link {
    display: block;
    margin-inline: 10px;
    margin-block: 10px;
    border-radius: $roundness;
    width: calc(100% - 20px);
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    border-top: solid 1px var(--summary_border);
    border-right: solid 1px var(--summary_border);
    border-bottom: solid 4px var(--summary_border);
    border-left: solid 1px var(--summary_border);
    border-radius: $roundness;
    background-image: linear-gradient(to bottom, var(--summary_background), transparent);
    background-color: var(--summary_background);
    padding: 10px 15px;

    &:hover {
      background-color: var(--links_hover);
    }
  }

  &-title {
    color: var(--summary_text);
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.25;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;
  }

  &-content {
    margin-block-start: 10px;
    border: solid 1px var(--content-background-border);
    border-radius: $roundness;
    background-color: var(--content-background-color);
    padding-inline: 10px;
    padding-block: 8px;
    overflow: hidden;
    font-size: 0.9375rem;
  }

  &-selected {
    transition:
      background-color,
      outline 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: 1px solid var(--accent);

    .search-header {
      background-color: var(--links_hover);
    }

    .search-content {
      background-color: var(--links_background);
    }
  }

  &-no-results {
    opacity: 0.75;
    margin-block: auto;
    padding: 20px;
    font-weight: 700;
    font-size: 0.95rem;
    text-align: center;
  }

  &-category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    margin: 0;
    padding: 10px;
    width: 100%;

    button,
    a {
      text-wrap: wrap;
      flex: 1 0 165px;
      transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      border: 1px solid var(--summary_border);
      border-radius: $roundness;
      background-color: var(--summary_background);
      padding-inline: 10px;
      padding-block: 5px;
      color: var(--summary_text);
      font-weight: 700;
      font-size: 0.9rem;
      text-align: center;
      text-decoration: none;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &-modal-title {
    opacity: 0.75;
    margin-inline: 20px;
    margin-block: 15px;
    font-weight: 700;
    font-size: 0.85rem;
  }

  &-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    opacity: 1;
    margin: 0;
    width: 100%;
    font-size: 13px;

    mark {
      text-wrap: wrap;
      filter: saturate(0.5);
      outline: solid 1px var(--summary_border);
      background-color: var(--button_background);
      padding: 2px 5px;
      color: var(--summary_text);
      font-weight: 700;
      font-size: 0.65rem;
      line-height: 1.25;
    }
  }
}

// *: стили для донатов
.support {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-inline: 10px;
  margin-block: 15px;

  svg {
    width: 20px;
    height: 20px;
  }
}

// *: стили для смены темы
.theme {
  &-slider {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-inline: 15px;
    margin-block: 10px;
  }

  &-title {
    opacity: 0.75;
    margin-inline: 15px;
    margin-block-start: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
  }

  &-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-inline: 10px;
    margin-block: 20px;
  }

  &-button {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--links_border);
    border-bottom-width: 3px;
    border-radius: $roundness;
    background-color: var(--links_background);
    padding: 10px;
    max-width: 100%;
    overflow-y: hidden;
    font-weight: 500;
    font-size: 0.875rem;

    svg {
      fill: var(--text-color);
      width: 24px;
      height: 24px;
    }

    &-selected {
      background-color: var(--links_hover);
    }
  }
}
