.search {
  &-input {
    padding-inline-start: 16px;
    padding-block: 8px;
    width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      border: 1px solid var(--content-background-border);
      border-radius: $roundness;
      padding-inline-end: 16px;
      width: 100%;
    }
  }

  &-results {
    border: 1px solid var(--content-background-border);
    border-radius: $roundness;
    padding-inline: 10px;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-color: var(--accent) var(--content-background-color);
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $roundness;
      background-color: var(--accent);
    }

    &::-webkit-scrollbar-track {
      margin: 5px;
      background: var(--content-background-color);
    }
  }

  &-link {
    display: block;
    margin-block: 10px;
    border-radius: $roundness;
  }

  &-title {
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    border-top: solid 1px var(--summary_border);
    border-right: solid 1px var(--summary_border);
    border-bottom: solid 4px var(--summary_border);
    border-left: solid 1px var(--summary_border);
    border-radius: $roundness;
    background-color: var(--summary_background);
    padding: 10px 15px;
    color: var(--summary_text);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.25;
    font-family: "Mulish", sans-serif;
    text-transform: uppercase;

    &:hover {
      background-color: var(--links_hover);
    }
  }

  &-content {
    line-clamp: 3;
    padding: 10px;
    overflow: hidden;
    font-size: 16px;
  }
}
