@import "variables";

.search {
  &-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--content-background-border);
    border-radius: $roundness;
    margin-bottom: 20px;
  }

  &-results {
    max-height: 50vh;
    overflow-y: auto;
    scrollbar-width: none;

    &::before {
      content: '';
      position: absolute;
      bottom: 20px;
      width: 95%;
      height: 75px;
      background: linear-gradient(to bottom, transparent, var(--content-background-color));
      pointer-events: none;
    }

  }

  &-link {
    display: block;
    border-radius: $roundness;

    &:hover {
      background-color: var(--button_hover);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-title {
    cursor: pointer;
    margin-block: 10px;
    border-top: solid 1px var(--summary_border);
    border-right: solid 1px var(--summary_border);
    border-bottom: solid 4px var(--summary_border);
    border-left: solid 1px var(--summary_border);
    border-radius: $roundness;
    background-color: var(--summary_background);
    padding: 10px 15px;
    color: var(--summary_text);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.25;
    font-family: "Mulish",
      sans-serif;
    text-transform: uppercase;
  }

  &-content {
    font-size: 16px;
    line-clamp: 3;
    padding: 10px;
    overflow: hidden;
  }
}