@use "@/styles/mixins" as *;

table {
  margin: 15px auto;
  border-collapse: collapse;
  background-color: var(--table_background);
  max-width: 1000px;
  font-size: 0.875rem;
}

@media (max-width: 350px) {
  table {
    word-wrap: break-word;
    word-break: break-all;

    td,
    th {
      padding: 5px 3px;
    }
  }
}

td,
th {
  vertical-align: middle;
  outline: 1px solid var(--table_background-border);
  padding: 5px 10px;
  text-align: center;
}

.table-colored-title {
  outline: 1px solid var(--mark_border);
  background-color: var(--mark_background);
  color: var(--mark_text);
  font-weight: 700;
}
