@import "variables";

.theme {
  &-modal {
    .title {
      font-weight: 700;
      font-size: 24px;
      font-family: "Mulish", sans-serif;
    }
  }

  &-button {
    padding: 10px;

    svg {
      fill: var(--text-color);
    }

    &-selected {
      border-radius: 1000px;
      background-color: var(--accent);

      svg {
        fill: #fff;
      }
    }
  }

  &-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }
}