@import "variables";

.theme {
  &-modal {
    .title {
      font-weight: 700;
      font-size: 24px;
      font-family: "Mulish", sans-serif;
    }
  }

  &-button {
    padding: 10px;

    svg {
      fill: var(--text-color);
    }

    &-selected {
      border-radius: 1000px;
      background-color: var(--accent);

      svg {
        fill: #fff;
      }
    }
  }
}