header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header_background);
  color: var(--primary);
  backdrop-filter: blur(25px) saturate(80%);
  filter: drop-shadow(0 0 15px var(--header_shadow));
  height: 65px;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 10;

  span.material-icons {
    font-size: 24px;
    color: var(--primary);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  ul {
    height: 100%;
    list-style-type: none;
  }

  button {
    cursor: pointer;
    background: none;
    border: none;
  }

  span {
    &:active {
      transform: scale(0.8);
    }
  }
}

.logo {
  font-family: "Schuss Sans", sans-serif;
  font-size: 28px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  color: var(--primary);
}
