.links_body {
  max-width: 1200px;

  section {
    text-align: left;
  }
}

.links {
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  gap: 15px;

  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  @media screen and (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }

  a {
    border: solid 2px var(--border);
    box-shadow: 0 5px 5px var(--shadow);
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content_background);
    border-radius: 15px;
    padding-block: 20px;
    padding-inline: 15px;
    color: var(--text);
    text-decoration: none;

    &:hover {
      background-color: var(--primary_selected);
      color: var(--content_background);
      transform: scale(1.1);
      z-index: 5;
    }

    &:active {
      background-color: var(--ripple);
      transform: scale(0.9);
    }
  }

  h2 {
    color: var(--primary);
    font-family: "Schuss Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-block: 10px;
  }

  div {
    margin: auto;
    display: flex-inline;
  }

  p {
    color: var(--text_links);
    font-size: 14px;
  }

  .material-icons {
    font-family: "Material Icons";
    font-size: 36px;
    color: var(--primary);
  }
}
