.container_sidemenu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  position: fixed;
  top: 80px;
  z-index: 1500;
  visibility: hidden;
  overflow-x: visible;

  @media screen and (min-width: 1000px) {
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .material-icons {
    font-size: 20px;
    padding-inline-end: 8px;
    color: var(--text);
  }
}

.left_sidemenu {
  border: solid 1px var(--border);
  background-color: var(--header_background);
  border-radius: 15px;
  backdrop-filter: blur(25px) saturate(50%);
  filter: drop-shadow(0px 10px 25px var(--header_shadow));
  max-width: 800px;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;

  a {
    display: flex;
    align-items: center;
    border: none;
    color: var(--text);
    text-align: left;
    padding-inline: 15px;
    padding-block: 10px;
    background: none;
  }

  h2 {
    color: var(--text);
    font-size: 12px;
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    text-transform: none;
    font-weight: bold;
  }

  li {
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    li a {
      height: 100%;
      text-decoration: none;
    }
  }

  .selected {
    background: var(--primary_selected);
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    color: var(--text);
    text-align: left;
    padding-inline: 15px;
    padding-block: 10px;
    width: 100%;
    cursor: pointer;
    background: none;
  }
}

.right_sidemenu {
  border: solid 1px var(--border);
  background-color: var(--header_background);
  border-radius: 15px;
  backdrop-filter: blur(25px) saturate(50%);
  filter: drop-shadow(0px 10px 25px var(--header_shadow));
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;

  button {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    text-align: center;
    padding-inline: 15px;
    padding-block: 10px;
    width: 100%;
    background: none;
  }

  .material-icons {
    padding-inline-end: 0px;
    padding-inline-start: 15px;
  }

  li {
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    &:last-child {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border);
    }
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .selected {
    background: var(--primary_selected);
  }
}

@media screen and (width < 1200px) {
  .left_sidemenu {
    margin-inline-start: 10px;
  }

  .right_sidemenu {
    margin-inline-end: 10px;
  }
}