@use "styles/reset";
@use "styles/fonts";
@use "styles/pages/links";
@use "styles/pages/faq";
@use "styles/addition";
@use "styles/header";
@use "styles/colors";
@use "styles/themeChanger";

@import "styles/variables";

html,
body {
  scroll-padding-top: 80px;
  user-select: none;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  font-weight: 350;
}

.main {
  margin-top: 64px;
  overflow: hidden;

}


.footer {
  opacity: 0.5;
  margin-block: 30px;
  margin-inline: auto;
  padding-inline: 10px;
  font-size: 12px;
  text-align: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}




.logo {
  &-container {
    margin-block: 15px;
  }

  &-title {
    font-family: "Anta", sans-serif;
    font-size: clamp(36px, 12vw, 64px);
    max-width: fit-content;
    margin: 0 auto -10px;
  }


  &-slogan {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: clamp(16px, 4vw, 18px);
    text-align: center;
    margin-top: 10px;
  }
}


.visual-hidden {
  display: none;
}

.no-javascript,
.not-found {
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.5;

  &-container {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: var(--content-background-color);
    padding: 15px;
    border-radius: $roundness*1.5;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  }

  &-title {
    color: var(--accent);
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    hyphens: auto;
    line-height: 1.25;
    margin-inline: 10px;
  }

  &-description {
    hyphens: auto;
    font-size: 16px;
    margin-inline: 5px;
  }

  &-small-description {
    hyphens: auto;
    font-size: 12px;
    margin-inline: 5px;
    opacity: 0.5;
  }

  &-button {
    font-weight: 500;
    border-radius: $roundness;
    display: inline-flex;
    gap: 10px;
    padding: 10px 15px;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      filter: brightness(90%);
      opacity: 1;
    }

    img {
      height: 24px;
      width: 24px;
    }

    p {
      margin-inline-start: 5px;
    }
  }

  .to-main {
    background-color: var(--accent);
    color: #fff;
  }

  .chrome {

    background-color: #ceead6;
    color: #188038;
  }

  .firefox {
    background-color: #25003e;

    color: #fff;
  }

  .yandex {
    background-color: #f7604a;
    color: #fff;
  }


}